<!DOCTYPE html>
<html lang="pt">
<head>

    <meta charset="UTF-8">
    <title>Pessoas</title>

</head>
<body>

{% extends 'base.html' %}
{% block main %}

    <h2>Lista de Pessoas</h2>

    <ul>
        {% for pessoa in pessoas %}
            <li>
                <a href="{% url 'core_pessoas_update' pessoa.id %}">{{ pessoa.nome }}</a>
            </li>
        {% endfor %}
    </ul>

    <form action="{% url 'core_pessoas_novas' %}" method="POST">
        {% csrf_token %}

        {{ forms.as_p }}

        <button type="submit">Cadastrar</button>
    </form>

{% endblock %}

</body>
</html>
