<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movimento Rotativo</title>
</head>
<body>

    <h2>Movimento Rotativo</h2>

    <ul>
        {% for mov in mov_rotativos %}
            <li>
                <a href="{% url 'core_movrotativos_update' mov.id %}">{{ mov.veiculo.placa }}</a>
            </li>
        {% endfor %}
    </ul>

    <form action="{% url 'core_movrotativos_novos' %}" method="POST">
        {% csrf_token %}

        {{ forms.as_p }}

        <button type="submit">Cadastrar</button>
    </form>

</body>
</html>