<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movimento Rotativo</title>
</head>
<body>
{% extends 'base.html' %}
{% load bootstrap %}
{% block main %}

<div class="row">
    <div class="col">
        <h2>Movimento Rotativo</h2>
        <ul>
            {% for mov in mov_rotativos %}
            <li>
                <a href="{% url 'core_movrotativos_update' mov.id %}">{{ mov.veiculo.placa }}</a>
            </li>
            {% endfor %}
        </ul>
        <form action="{% url 'core_movrotativos_novos' %}" method="POST">
            {% csrf_token %}
            {{ forms | bootstrap }}
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
    </div>
</div>

{% endblock %}
</body>
</html>