<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movimento Mensalistas</title>
</head>
<body>
{% extends 'base.html' %}
{% load bootstrap %}

{% block menu %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'core.home' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Serviços</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'core_lista_pessoas' %}">Pessoas</a>
                <a class="dropdown-item" href="{% url 'core_lista_veiculos' %}">Veículos</a>
                <a class="dropdown-item" href="{% url 'core_lista_movrotativos' %}">Rotativos</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'core_lista_mensalistas' %}">Mensalistas</a>
            </div>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link disabled" href="">Bem-vindo, {{ user }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
        {% endif %}
    </ul>
{% endblock%}

{% block main %}
<div class="row">
    <div class="col">
        <!-- <h2>Movimento Mensalistas</h2> -->
        <table class="table">
             <h2>Lista de Movimento Mensalistas</h2>
             <thead class="thead-dark">
             <tr>
                 <th scope="col">ID</th>
                 <th scope="col">Mensalista</th>
                 <th scope="col">Data do Pagamento</th>
                 <th scope="col">Valor Total</th>
             </tr>
             </thead>
             <tbody>
             {% for mov in mov_mensalistas %}
             <tr>
                 <th scope="row">{{ mov.id }}</th>
                 <td>{{ mov.mensalista }}</td>
                 <td>{{ mov.dt_pgto }}</td>
                 <td>R$ {{ mov.total }}</td>
             </tr>
             {% endfor %}
             </tbody>
        </table>
        <form action="{% url 'core_movmensal_novos' %}" method="POST">
            {% csrf_token %}
            {{ forms | bootstrap }}
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
    </div>
</div>
{% endblock %}

</body>
</html>