<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mensalistas</title>
</head>
<body>
{% extends 'base.html' %}
{% block main %}

      <h2>Lista de Mensalistas</h2>

    <ul>
        {% for mensalista in mensalistas %}
            <li>
                <a href="{% url 'core_mensalistas_update' mensalista.id %}">{{ mensalista.veiculo }}</a>
            </li>
        {% endfor %}
    </ul>

    <form action="{% url 'core_mensalistas_novos' %}" method="POST">
        {% csrf_token %}

        {{ forms.as_p }}

        <button type="submit">Cadastrar</button>
    </form>

{% endblock %}
</body>
</html>