<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Movimentação Mensalistas Update</title>
</head>
<body>
{% extends 'base.html' %}
{% load bootstrap %}
{% block main %}

<div class="row">
    <div class="col">
        <h2>Updating MovMensalistas: {{ movmensal }}</h2>
          <form action="{% url 'core_mensalistas_update' movmensal.id %}" method="POST">
              {% csrf_token %}
              {{ forms | bootstrap }}
              <button type="submit" class="btn btn-primary">Salvar</button>
              <a href="{% url 'core_movmensal_delete' movmensal.id %}" class="btn btn-danger">Deletar</a>
          </form>
    </div>
</div>

{% endblock %}
</body>
</html>